{% extends 'base.html.twig' %}

{% block title %}Voiture{% endblock %}

{% block erreur %}{{erreur}}{% endblock %}

{% block body %}
{% block username %}{{username}}{% endblock %}
{% block password %}{{username}}{% endblock %}
{% block Tel %}{{tel}}{% endblock %}
<div class="page-wrapper">
    <div class="page-container">
    <div class="main-content">
        <div class="card">
            <div class="card-header">
        {% for voiture in voitures %}
        {% if matricule == voiture.NumSerie or matricule == voiture.NumeroIdentifiant %}
        <h1>Voiture : {{ voiture.NumSerie }}</h1>
            </div>
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-center title-2">Détails</h3>
                </div>
   

    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voiture.id }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ voiture.Marque }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ voiture.Model }}</td>
            </tr>
            <tr>
                <th>Numero_serie</th>
                <td>{{ voiture.NumSerie }}</td>
            </tr>
            <tr>
                <th>NumeroId</th>
                <td>{{ voiture.NumeroIdentifiant }}</td>
            </tr>
            <tr>
                <th>Date_achat</th>
                <td>{{ voiture.dateAchat ? voiture.dateAchat|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Couleur</th>
                <td>{{ voiture.Couleur }}</td>
            </tr>
           

        </tbody>
    </table>
   

    <a href="{{ path('voiture_index') }}">back to list</a>

    <a href="{{ path('voiture_edit', {'id': voiture.id}) }}">edit</a>
    
    <!-- Button HTML (to Trigger Modal) -->
	<a href="#myModal" class="btn btn-danger" data-toggle="modal">Supprimer</a>
</div>

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header flex-column">
				<div class="icon-box">
					<i class="material-icons">&#xE5CD;</i>
				</div>						
				<h4 class="modal-title w-100">Are you sure?</h4>	
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete these records? This process cannot be undone.</p>
			</div>
			<div class="modal-footer justify-content-center">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<a href="{{ path('voiture_delete', {'id': voiture.id}) }}" class="btn btn-danger" style="color:white">Delete</a>
			</div>
		</div>
	</div>
</div>     
    {% endif %}
    {% endfor %}
</div>
</div>
</div>
</div>
</div>

    

</div>
</div>
</div>
</div>
</div>
{% endblock %}
{% block act1 %}active has-sub{% endblock %}
{% block act2 %}{% endblock %}
{% block act3 %}{% endblock %}
{% block act4 %}{% endblock %}
{% block act5 %}{% endblock %}
