{% extends 'base.html.twig' %} {% block title %}Client{% endblock %} {% block body %}

<div class="page-wrapper">
    <div class="page-container">
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h1>Vente</h1>
                                    <table class="table table-striped table-inverse table-responsive">
                                        <thead class="thead-inverse">
                                            <tr>
                                                <th>Client</th>
                                                <th>Voiture</th>
                                                <th>Date achat</th>
                                                <th>Montant</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="row">{{vente.client.nom}}</td>
                                                    <td>{{vente.voiture.Marque}}</td>
                                                    <td>{{vente.dateVente ? vente.dateVente|date('Y-m-d') : '' }}</td>
                                                    <td>{{vente.Montant}}</td>
                                                </tr>
                                                
                                            </tbody>
                                    </table>

                                    

                                    

                                    <a href="{{ path('app_vente') }}" class="btn btn-primary">back to list</a>

                                    <a href="{{ path('editVente', {'id': vente.id}) }}" class="btn btn-warning">edit</a>

                                    <a href="{{ path('supprimer_vente', {'id': vente.id}) }}" class="btn btn-danger">Supprimer</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
    {% block act1 %}{% endblock %}
{% block act2 %}{% endblock %}
{% block act3 %}{% endblock %}
{% block act4 %}active has-sub{% endblock %}
{% block act5 %}{% endblock %}
{% block username %}{{username}}{% endblock %}
{% block password %}{{username}}{% endblock %}
{% block Tel %}{{tel}}{% endblock %}